$filler-fgcolor: rgb(0, 200, 255);
$filler-bgcolor: rgb(0, 200, 255);

$other-disfluent-fgcolor: rgb(179, 0, 255);
$other-disfluent-bgcolor: rgb(212, 112, 255);

$third-accent-fgcolor: rgb(0, 223, 223);
