@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

.elo-page {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2em;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  a {
    text-decoration: none;
    color: blue;

    :visited {
      color: blue;
    }
  }

  .bold {
    font-weight: 600;
  }

  .filler-fgcolor {
    color: $filler-fgcolor;
  }

  .other-disfluent-fgcolor {
    color: $other-disfluent-fgcolor;
  }

  .third-accent-fgcolor {
    color: $third-accent-fgcolor;
  }

  .elo-page-container {
    padding: 25px;
  }

  .important-value {
    font-weight: 600;
  }

  .heading {
    display: flex;
    flex-direction: row;
    margin-top: 2em;

    > * {
      flex-grow: 1;
      flex-basis: 0;
    }

    > *:last-child {
      text-align: right;
    }

    .your-weekly-report {
      font-weight: 600;
      color: $other-disfluent-fgcolor;
    }

    .user-label {
      font-weight: 600;
      color: $filler-fgcolor;
    }

    .stats {
      margin-top: 0.5em;

      td.numeric {
        text-align: right;
        padding-left: 0.5em;
      }
    }
  }

  .single-stat-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    gap: 1em;

    > div {
      flex-grow: 1;
      flex-basis: 0;
      border-radius: 1em;
      padding: 1em;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  }

  .very-prominent-number {
    font-size: 4em;
    font-weight: 600;
  }
}
