$filler-fgcolor: rgb(0, 200, 255);
$filler-bgcolor: rgb(0, 200, 255);
$other-disfluent-fgcolor: rgb(179, 0, 255);
$other-disfluent-bgcolor: rgb(212, 112, 255);

#language-confidence-extension {
  .app {
    * {
      box-sizing: border-box;
    }

    opacity: 0;

    &.active {
      opacity: initial;
    }

    transition: opacity 0.2s;

    font-family: sans-serif;

    z-index: 100;
    position: fixed;
    left: 1em;
    top: 1em;
    background-color: white;
    border: 1px solid black;

    .spacer {
      flex-grow: 1;
    }

    .common-centering {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .body {
      display: flex;
      flex-direction: row;
      width: 30em;
      height: 4em;

      .counter {
        padding: 0.5em;
      }

      .word-box-container {
        padding: 0.8em 0;
      }

      .word-box {
        background-color: #f4f4f4;
        width: 7.5em;
        height: 100%;
        padding: 0.5em;

        transition: background-color 0.2s;
      }

      > .left {
        display: flex;

        .word-box {
          justify-content: flex-end;

          &.highlight {
            background-color: $filler-bgcolor;
          }
        }

        .counter {
          color: $filler-fgcolor;
        }
      }

      > .center {
        display: flex;

        > .content {
          width: 3.5em;
          height: 3.5em;
          border-radius: 100%;
          border: 1px solid black;
        }
      }

      > .right {
        display: flex;

        .word-box {
          justify-content: flex-start;

          &.highlight {
            background-color: $other-disfluent-bgcolor;
          }
        }

        .counter {
          color: $other-disfluent-fgcolor;
        }
      }
    }

    .spinner {
      display: inline-block;
      width: 0.2em;
      height: 1em;
      background-color: black;
      position: relative;
      animation: rotating 1s linear infinite;
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
