#language-confidence-extension {
  .app {
    opacity: 0;

    &.active {
      opacity: initial;
    }

    transition: opacity 0.2s;

    font-family: sans-serif;

    z-index: 100;
    position: fixed;
    left: 1em;
    top: 1em;
    background-color: hsla(0, 0%, 50%, 0.2);
    border-radius: 0.5em;

    .head {
      border-radius: 0.5em 0.5em 0 0;
      padding: 0.5em;
      background-color: rgb(0, 92, 162);
      color: white;
      text-align: center;
      user-select: none;
      cursor: move;
    }

    .body {
      border-radius: 0 0 0.5em 0.5em;
      min-width: 10em;
      min-height: 5em;
      display: inline-grid;

      color: transparent;

      &.highlight {
        background-color: rgb(0, 255, 255);
        color: black;
      }

      transition: all 200ms ease;
      transition-property: background-color, color;

      .word {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
