$bgcolor: #222;
$fgcolor: #fff;

$record-color: rgba(255, 0, 0, 1);
$record-color-dull: rgba(255, 0, 0, .5);

$highlight-color: rgba(255, 255, 0, 1);

body {
  background-color: $bgcolor;
  color: $fgcolor;
  font-family: sans-serif;
  margin: 0;
}

.recorder-app {
  .clickable {
    cursor: pointer;
  }

  .record-btn {
    border: 3px solid $record-color-dull;
    border-radius: 100%;
    height: 3em;
    position: relative;
    width: 3em;

    .record-btn-inner {
      background-color: $record-color;
      border-radius: 100%;
      display: inline-block;
      height: calc(3em - 9px);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(3em - 9px);
    }

    &.active {
      border: 3px solid $record-color;
    }
  }

  .transcription-player {
    .play-btn {
      height: 7em;
      position: relative;
      width: 7em;

      .play-btn-text {
        font-size: 3em;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-38%, -50%);
      }
    }

    .transcription-box {
      position: relative;

      .transcription-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes fade-out {
  from { opacity: 1; }
}

.transcription-cursor {
  animation: fade-out 200ms;
  background-color: $highlight-color;
  border-radius: 100%;
  height: 5px;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  width: 5px;
}
