body {
  font-family: monospace;
}

.drop-detector {
  &.drop-me {
    border: 10px dashed rgba(70, 70, 70, 0.4);
  }
}

.file-request {
  border: 1px solid black;
  position: relative;
  padding: 1em;
  display: inline-block;
}

a {
  cursor: pointer;
  color: blue;
}

.wave-player {
  overflow-x: hidden;

  .wave-cursor {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ffa500;
    user-select: none;

    &.faded {
      opacity: 0.4;
    }

    &.loading {
      background-color: rgb(0, 71, 193);
    }
  }

  .wave-cursor-time {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 5px;
    user-select: none;
  }

  .label {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    top: 150px;
    border: 1px solid transparent;
    border-radius: 100%;
    user-select: none;

    .circle {
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
    }

    &.reference {
      &:hover {
        border: 1px solid black;
        cursor: ew-resize
      }

      .circle {
        background-color: rgb(0, 193, 142);
      }
    }

    &.generated {
      top: 175px;

      &:hover {
        border: 1px solid black;
      }

      .circle {
        background-color: rgb(0, 71, 193);
      }
    }

    .text {
      display: none;
    }

    &:hover {
      .text {
        display: inline-block;
        position: absolute;
        width: 200px;
        margin-left: -97.5px;
        top: 25px;
        text-align: center;
      }
    }
  }

  .marker {
    display: inline-block;
    position: absolute;
    width: 200px;
    margin-left: -99px;
    top: 230px;
    user-select: none;
    text-align: center;
  }

  .word {
    display: inline-block;
    position: absolute;
    top: 110px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .tool-row {
    margin-top: 5px;

    > *:not(:first-child) {
      margin-left: 5px;
    }
  }

  .files-table {
    border-spacing: 10px;
  }
}
