body {
  font-family: monospace;
}

.drop-detector {
  &.drop-me {
    border: 10px dashed rgba(70, 70, 70, 0.4);
  }
}

.file-request {
  border: 1px solid black;
  position: relative;
  padding: 1em;
  display: inline-block;
}

a {
  cursor: pointer;
  color: blue;
}

.wave-player {
  .wave-cursor {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ffa500;

    &.faded {
      opacity: 0.4;
    }
  }

  .wave-cursor-time {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 5px;
  }

  .label {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    margin-top: -2.5px;
    top: 150px;
    background-color: rgb(0, 193, 142);
    border-radius: 100%;
  }
}
