@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

.elo-page {
  * {
    box-sizing: border-box;
  }

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  a {
    text-decoration: none;
    color: $other-disfluent-fgcolor;

    :visited {
      color: $other-disfluent-fgcolor;
    }
  }

  .bold {
    font-weight: 600;
  }

  .filler-fgcolor {
    color: $filler-fgcolor;
  }

  .other-disfluent-fgcolor {
    color: $other-disfluent-fgcolor;
  }

  .third-accent-fgcolor {
    color: $third-accent-fgcolor;
  }

  .elo-page-container {
    padding: 25px;
  }

  .important-value {
    font-weight: 600;
  }

  .very-prominent-number {
    font-size: 4em;
    font-weight: 600;
  }

  .card {
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .heading {
    display: flex;
    flex-direction: row;

    > * {
      flex-grow: 1;
      flex-basis: 0;
    }

    > *:last-child {
      text-align: right;
    }

    .your-weekly-report {
      font-weight: 600;
      color: $other-disfluent-fgcolor;
    }

    .user-label {
      font-weight: 600;
      color: $filler-fgcolor;
    }

    .stats {
      margin-top: 0.5em;

      td.numeric {
        text-align: right;
        padding-left: 0.5em;
      }
    }
  }

  .button {
    display: inline-block;
    background-color: $second-accent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;

    &:active {
      filter: brightness(90%);
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    font-size: 1px;
    animation: rotating 2s linear infinite;
  }

  .single-stat-boxes {
    display: flex;
    flex-direction: row;
    gap: 1em;

    > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .overview {
    .overview-underline {
      border: none;
      border-top: 3px solid $other-disfluent-fgcolor;
    }

    .overview-subtext {
      font-size: 0.8em;
      min-height: 4em; // TODO: Better alignment solution - css grid?
    }

    .overview-sections {
      display: flex;
      flex-direction: row;
      gap: 1em;

      padding: 0 0.5em;

      > div {
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    table {
      border-collapse: collapse;
      margin-top: 1em;
      width: 100%;

      tr {
        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.03);
        }

        &:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.01);
        }
      }

      td {
        width: 50%;
        font-size: 1.5em;
        padding: 0.2em;

        &:last-child {
          font-weight: 600;
        }
      }
    }
  }

  .feedback {
    background-color: white;
    width: 700px;
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;

    .question {
      margin-top: 20px;

      textarea {
        width: 100%;
        outline: none;
        height: 5em;
        padding: 1em;
        margin: 10px 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
      }

      input[type=text] {
        padding: 1em;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
        margin: 10px 0;
      }
    }

    .row-selector {
      display: flex;
      flex-direction: row;
      margin: 10px;

      > div {
        flex-grow: 1;
        text-align: center;
        font-size: 2em;
      }

      .cell {
        transition: all 200ms;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        user-select: none;

        &.selected {
          background-color: $first-accent;
        }
      }
    }

    .footer {
      margin-top: 50px;
      text-align: center;
    }

    .error {
      color: red;
    }

    .result {
      text-align: center;
      margin-top: 30px;
    }
  }
}
