$first-accent: rgb(0, 200, 255);
$second-accent: rgb(179, 0, 255);
$third-accent: rgb(0, 223, 223);

$second-accent-light: rgb(212, 112, 255);

$filler-fgcolor: $first-accent;
$filler-bgcolor: $first-accent;

$other-disfluent-fgcolor: $second-accent;
$other-disfluent-bgcolor: $second-accent-light;

$third-accent-fgcolor: $third-accent;

$selected-bgcolor: hsl(199deg 100% 89%);
$not-selected-bgcolor: hsl(197, 100%, 99%);
